
<%= form_for @user do |f| %>
 
  <% if @user.errors.any? %>
    <div class="row" id="error_explanation">
      <div class= "alert alert-danger col-md-8">
      <h2>
        <%= pluralize(@user.errors.count, "error") %> prohibited
        this account from being created:
      </h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      </div>
    </div>
  <% end %>
 
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
 
  <p>
    <%= f.label :email %><br>
    <%= f.text_area :email %>
  </p>
 
    <p>
    <%= f.label :passord %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit(@user.new_record? ? 'Register' : ' Edit profile', class: "btn-btn-success")%>
  </p>
 
<% end %>